<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="contenedor-detail">
            <h1>Detalle del Servicio</h1>
            <div class="detalle">
                <div class="caja-img-product">
                    <h3 class="servicio"><%= productoRequerido.categories.category_name %></h3>
                    <img src="/img/products/<%= `${productoRequerido.product_image}` %>" alt="Imagen del producto"> 
                </div>
                <div class="name-category">
                    <h2 class="nombre"><%= productoRequerido.product_name %></h2>
                </div>
                <p class="descripcion"><%= productoRequerido.product_description %></p>
                <p class="datos"><span>Precio:</span> <%= productoRequerido.price %>$</p>
                <p class="datos"><span>Duración:</span>  <%= productoRequerido.duration %> hora</p>
                <p class="datos"><span>Horario:</span> <%= productoRequerido.day %>, <%= productoRequerido.time %>hs</p>
                <section class="mentor">
                    <h3>Mentor</h3>
                    <div class="informacion-mentor">
                        <img src="/img/avatars/<%= `${productoRequerido.users_products.avatar}` %>" alt="Imagen del mentor">
                        <div class="info">
                            <p class="reseña"><i class="fas fa-user"></i> <%= productoRequerido.users_products.first_name %> <%= productoRequerido.users_products.last_name %></p>
                            <p class="reseña"><i class="fas fa-light fas fa-globe"></i> <%= productoRequerido.users_products.country %></p>
                            <p class="reseña"><i class="fas fa-chalkboard-teacher"></i> <%= productoRequerido.users_products.title %></p>
                            <p class="reseña"><i class="fas fa-medal"></i> <%= productoRequerido.mentors.description %></p>
                            <p class="reseña"><i class="fas fa-star"></i> <%= productoRequerido.mentors.punctuation %></p>
                        </div>
                    </div>
                </section>
                <form class="boton-adquirir" action="/products/productCart/<%= productoRequerido.product_id %>" method="POST">
                    <button type="submit" class="boton-adquirir"><i class="fa fa-shopping-cart"></i> Adquirir</button>  
                </form>
            </div>
        </div>
    </main>
    
    <%- include('../partials/footer') %>

</body>
</html>