<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="contenedor-carrito">
            <h1>Mis Compras</h1>
            <% if(locals.invoices == undefined){ %>
                <div class="contenedor_cesta_vacia">
                    <img class="caja_vacia" src= "/img/vacio.png" alt= "imagen de cesta vacía">
                    <h2 class="mensaje">oops!</h2>
                    <h2 class="mensaje_ceta_vacia">No tiene compras realizadas...</h2>
                    <p>No existen artículos comprados. Tal vez el producto se eliminó antes de concretar la compra, o tal vez simplemente escribió mal la dirección.</p>
                </div>
            <% } else { %>
                <div class="shop">
                    <div class="seccion-productos"> 
                        <% for(oneInvoice of invoices) { %>
                            <article class="servicio">
                                <% for(oneProduct of products) { %>
                                    <% if(oneProduct.product_id == oneInvoice.booking_invoice.product_id){%>
                                        <img src="/img/products/<%= `${oneProduct.product_image}` %>" alt="imagen del producto">
                                    <% } %> 
                                <% } %>
                                <div class="content">
                                    <% let dateDB = oneInvoice.invoice_date; %>
                                    <% let fecha = dateDB.toISOString().split('T')[0] %>
                                    <% let hora = dateDB.toISOString().split('T')[1] %>
                                    <% let hora_formato = hora.split('.')[0] %>
                                    <h4>Factura: <%= oneInvoice.invoice_id %></h4>
                                    <h4>Reserva: <%= oneInvoice.booking_id %></h4>
                                    <h4>Fecha: <%= fecha %> <%= hora_formato %></h4>
                                    <h4>Método de pago: <%= oneInvoice.payment_method %></h4>
                                    <h4>Sub-total: $<%= oneInvoice.subtotal %></h4>
                                    <h4>IVA: $<%= oneInvoice.iva %></h4>
                                    <h4>Total: $<%= oneInvoice.total %></h4>
                                    <% for(oneProduct of products) { %>
                                        <% if(oneProduct.product_id == oneInvoice.booking_invoice.product_id){%>
                                            <h4>Mentoria: "<%= oneProduct.product_name %>"</h4>
                                        <% } %> 
                                    <% } %>
                                </div>
                            </article> 
                        <% } %>            
                    </div>
                </div>
            <% } %>     
        </div>
        <div class="slide-container">
            <h2>También podría interesarte</h2>
            <i class="fas fa-arrow-circle-left"></i>
            <section class="container" id="slider">   
                <% for(let i=0; i< products.length; i++) { %> 
                    <% let dateDB = products[i].date; %>
                    <% let array_date = dateDB.split('-'); %>
                    <% let fecha_con_formato = array_date[2] +'-'+ array_date[1] +'-'+ array_date[0] %>         
                    <div class="miniatura">
                        <img src="/img/products/<%= `${products[i].product_image}` %>" alt="Imagen del producto">
                        <div class="product-details">
                            <h3><%= products[i].categories.category_name %></h3>
                            <h3 class="name-product"><%= products[i].product_name %></h3>
                            <h3><%= products[i].users_products.first_name %> <%= products[i].users_products.last_name %></h3>
                            <p>0<%= products[i].duration %> hora</p>
                            <p><%= products[i].day %></p>
                            <p><%= fecha_con_formato %></p>
                            <p><span><%= products[i].price %>$</span></p>
                            <a href="/products/detail/<%= products[i].product_id %>"><i class="fas fa-eye"></i> Ver</a>
                        </div>
                    </div>
                <% } %>
            </section>
            <i class="fas fa-arrow-circle-right"></i>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>