<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="contenedor-edicion-productos">
            <h2 class="">Formulario de edición de productos</h2>
            <form class="formulario-edicion-productos" action="/products/edit/<%= productoEditar.product_id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <h3> Modificar la información del producto <%= productoEditar.product_name %></h3>
                    <div>
                        <label>Nombre del producto:</label>
                        <input  class="box" type="text" name="name" id="name" value="<%= productoEditar.product_name %>" required>
                    </div>
                    <div>
                        <label>Descripción:</label>
                        <br>
                        <textarea name="description" id="description" class="box" required><%= productoEditar.product_description %></textarea>
                    </div>
                    <div>
                        <label>Categoría:</label>
                        <select class="box" name="category" id="category" value="">
                            <option disabled="disabled">seleccione la categoría</option>
                            <% for (let i = 0; i < categories.length; i++){ %>
                                <% if (categories[i].product_category_id == productoEditar.product_category_id) { %>
                                <option value="<%=categories[i].product_category_id%>" selected>
                                    <%=categories[i].category_name%>
                                </option>
                                <% } else { %>
                                <option value="<%=categories[i].product_category_id%>">
                                    <%=categories[i].category_name%>
                                </option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <label>Mentor:</label>
                        <select class="box" name="mentor" id="mentor" value="">
                            <option disabled="disabled">seleccione el mentor</option>
                            <% for (let i = 0; i < users.length; i++){ %>
                                <% if(users[i].mentor_id != null) { %>
                                    <% if (users[i].mentor_id == productoEditar.mentor_id) { %>
                                        <option value="<%=users[i].mentor_id%>" selected>
                                            <%=users[i].first_name%> <%=users[i].last_name%>
                                        </option>
                                    <% } else { %>
                                        <option value="<%=users[i].mentor_id%>">
                                            <%=users[i].first_name%> <%=users[i].last_name%>
                                        </option>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <label>Duración:</label>
                        <p><input class="box"type="number" name="duration" id="duration" value="<%= productoEditar.duration %>" min="0" required>
                    </div> 
                    <div>
                        <label>Horario:</label>
                        <select class="box" name="horario" id="horario" value="<%= productoEditar.time %>" >
                            <option value="">seleccione el horario</option>
                            <% 
                             let horarios = ['10:00:00','12:00:00','14:00:00','16:00:00','17:00:00','18:00:00','19:00:00','20:00:00','21:00:00'];
                            %> 
                            <% for (const oneHorario of horarios) { %>
                                <option value="<%= oneHorario %>" <%= oneHorario == productoEditar.time ? 'selected' : null  %> ><%= oneHorario %></option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <label>Día:</label>
                        <select class="box" name="dia" id="dia" value="<%= productoEditar.day %>">
                            <option value="">seleccione el día</option>
                            <% 
                             let dias = ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'];
                            %> 
                            <% for (const oneDia of dias) { %>
                                <option value="<%= oneDia %>" <%= oneDia == productoEditar.day ? 'selected' : null  %> ><%= oneDia %></option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <label>Precio:</label>
                        <input class="box" type="number" name="price" id="price" value="<%= productoEditar.price %>" min="0" required>
                    </div>
                    <div class="imagen-muestra">
                        <label>Imagen del producto:</label>
                        <br>
                        <img src="/img/products/<%= `${productoEditar.product_image}` %>" alt="Imagen del producto">
                    </div>  
                    <div>
                        <label>Subir otra imagen del producto:</label>
                        <input class="box" type="file" name="image" id="image" accept=".jpg,.png" value="" multiple> 
                    </div>   
                <div class="botones">
                    <button class="enviar" type="submit"><i class="fas fa-plus-circle"></i> Guardar</button>
                    <button class="borrar" type="reset"><i class="fas fa-eraser"></i> Borrar</button>   
                </div>
            </form>
            <div class="boton-cancelar">
                <a href="/products"><i class="fas fa-times"></i> Cancelar</a>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>