<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="contenedor-edicion-productos">
            <h2>Selecciona tu categoría favorita y empieza a aprender</h2>
            <div class="opciones-desplegables">
                <p class="servicio-producto">
                    <select name="servicio-producto" id="">
                        <option selected="true" disabled="disabled">seleccione el servicio</option>
                        <option value="Mentorías">Mentorías</option>
                        <option value="Membresías">Membresías</option>
                        <option value="Gif Cards">Gif Cards</option>
                    </select>
                </p>
                <p class="categoria-producto">
                    <select name="categoria-producto" i
                    d="">
                        <option selected="true" disabled="disabled">seleccione la categoría</option>
                        <option value="Front-End">Front-End</option>
                        <option value="Back-End">Back-End</option>
                        <option value="UX/UI">UX/UI</option>
                        <option value="Base de Datos">Base de Datos</option>
                        <option value="Análisis de Datos">Análisis de Datos</option>
                        <option value="Marketing Digital">Marketing Digital</option>
                        <option value="Mensual">Mensual</option>
                        <option value="Anual">Anual</option>
                    </select>
                </p>
            </div>
            <div class="container-productos-existentes">
                <div class="boton-crear-producto">
                    <a href="/products/create" class="crear-producto"><i class="fas fa-plus-circle"></i> Crear producto</a>
                </div>
                <section class="container" id="slider">
                    <% for(let i=0; i< products.length; i++) { %>           
                        <div class="miniatura">
                            <img src="/img/products/<%= `${products[i].image}` %>" alt="Imagen del producto">
                            <div class="product-details">
                                <h3><%= products[i].service %></h3>
                                <h3 class="name-product"><%= products[i].name %></h3>
                                <h3><%= products[i].mentor %></h3>
                                <p><span><%= products[i].price %>$</span></p>
                                <p>0<%= products[i].duration %> horas</p>
                                <p><%= products[i].horario %></p>
                                <% if(locals.isLogged) { %>
                                <a href="/products/edit/<%= products[i].id %>" class="boton-final"><i class="fas fa-pen"></i>Editar</a>
                                <form class="eliminar" action="/products/delete/<%= products[i].id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="boton-final"><i class="fas fa-trash"></i>Eliminar</button>
                                    <% } %>
                                <a href="/products/detail/<%= products[i].id %>" class="boton-final"><i class="fas fa-eye"></i>Ver</a>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </section>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>