<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="contenedor-edicion-productos">
            <h2>Selecciona tu categoría favorita y empieza a aprender</h2>
            <div class="opciones-desplegables">
                <p class="categoria-producto">
                    <select name="categoria-producto" id="">
                        <option selected="true" disabled="disabled">seleccione la categoría</option>
                        <option value="1">Front-End</option>
                            <option value="2">Back-End</option>
                            <option value="3">UI/UX</option>
                            <option value="4">Base de Datos</option>
                            <option value="5">Marketing Digital</option>
                            <option value="6">Análisis de Datos</option>
                    </select>
                </p>
            </div>
            <div class="container-productos-existentes">
                <% if(locals.isLogged && locals.userLogged.role_id == 2) { %>
                    <div class="boton-crear-producto">
                        <a href="/products/create" class="crear-producto"><i class="fas fa-plus-circle"></i> Crear producto</a>
                    </div>
                <% } %>
                <section class="container" id="slider">
                    <% for(let i=0; i< products.length; i++) { %>           
                        <div class="miniatura">
                            <img src="/img/products/<%= `${products[i].product_image}` %>" alt="Imagen del producto">
                            <div class="product-details">
                                <h3><%= products[i].categories.category_name %></h3>
                                <h3 class="name-product"><%= products[i].product_name %></h3>
                                <% %>
                                    <h3><%= products[i].users_products.first_name %> <%= products[i].users_products.last_name %></h3>
                                    <p>0<%= products[i].duration %> hora</p>
                                    <p><%= products[i].day %></p>
                                    <p><%= products[i].time %></p>
                                <p><span>$<%= products[i].price %></span></p>
                                <a href="/products/detail/<%= products[i].product_id %>" class="boton-final"><i class="fas fa-eye"></i>Ver</a>
                                <% if(locals.isLogged && locals.userLogged.role_id == 2) { %>
                                    <a href="/products/edit/<%= products[i].product_id %>" class="boton-final"><i class="fas fa-pen"></i>Editar</a>
                                    <form class="eliminar" action="/products/delete/<%= products[i].product_id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="boton-final-eliminar"><i class="fas fa-trash"></i>Eliminar</button>  
                                    </form>
                                <% } %>
                                
                            </div>
                        </div>
                    <% } %>
                </section>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>