<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="contenedor-edicion-productos">
            <h2>Selecciona tu categoría favorita y empieza a aprender</h2>
            <div class="opciones-desplegables">
                <p class="categories">
                    <form action="/products/categories" method="POST" class='select-form'>
                        <select name="categories" id="categories" class="select">
                            <option selected="true" disabled="disabled">Seleccione la categoría</option>
                                <option class="all" value="0">Todas</option>
                                <option class="front-end" value="1">Front-End</option>
                                <option class="back-end" value="2">Back-End</option>
                                <option class="ui-ux" value="3">UI/UX</option>
                                <option class="database" value="4">Base de Datos</option>
                                <option class="marketing" value="5">Marketing Digital</option>
                                <option class="data-analysis" value="6">Análisis de Datos</option>
                        </select>
                    </form>
                </p>
            </div>
            <div class="container-productos-existentes">
                <% if(locals.isLogged && locals.userLogged.role_id == 2) { %>
                    <div class="boton-crear-producto">
                        <a href="/products/create" class="crear-producto"><i class="fas fa-plus-circle"></i> Crear producto</a>
                    </div>
                <% } %>
                    <section class="container" id="slider">
                        <% for(let i=0; i< products.length; i++) { %> 
                            <% let dateDB = products[i].date; %>
                            <% let array_date = dateDB.split('-'); %>
                            <% let fecha_con_formato = array_date[2] +'-'+ array_date[1] +'-'+ array_date[0] %>               
                            <div class="miniatura">
                                <img src="/img/products/<%= `${products[i].product_image}` %>" alt="Imagen del producto">
                                <div class="product-details">
                                    <h3><%= products[i].categories.category_name %></h3>
                                    <h3 class="name-product"><%= products[i].product_name %></h3>
                                    <h3><%= products[i].users_products.first_name %> <%= products[i].users_products.last_name %></h3>
                                    <p>0<%= products[i].duration %> hora</p>
                                    <p><%= products[i].day %></p>
                                    <p class="date"><%= fecha_con_formato %></p>
                                    <p><%= products[i].time %></p>
                                    <p><span>$<%= products[i].price %></span></p>
                                    <a href="/products/detail/<%= products[i].product_id %>" class="boton-final"><i class="fas fa-eye"></i>Ver</a>
                                    <% if(locals.isLogged && locals.userLogged.role_id == 2) { %>
                                        <a href="/products/edit/<%= products[i].product_id %>" class="boton-final"><i class="fas fa-pen"></i>Editar</a>
                                        <form class="eliminar" action="/products/delete/<%= products[i].product_id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="boton-final-eliminar"><i class="fas fa-trash"></i>Eliminar</button>  
                                        </form>
                                    <% } %>  
                                </div>  
                            </div>
                        <% } %>
                    </section>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>

    <script src="/js/products.js"></script>
</body>
</html>