<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="contenedor-carrito">
            <h1>Servicios en la Cesta</h1>
            <% if(!locals.productsUser[1]) {%>
                <div class="contenedor_cesta_vacia">
                    <img class="cesta_vacia" src= "/img/empty_cart_retina.png" alt= "imagen de cesta vacía">
                    <h2 class="mensaje">oops!</h2>
                    <h2 class="mensaje_ceta_vacia">Tu Cesta está Vacía...</h2>
                    <p>No tiene artículos en su cesta de compras. Tal vez el producto se movió o eliminó, o tal vez simplemente escribió mal la dirección.</p>
                </div>
            <% } else { %>
                <div class="shop">
                    <div class="seccion-productos">
                        <% for(let i=1; i< productsUser.length; i++) { %> 
                            <article class="servicio">
                                <img src="/img/products/<%= `${productsUser[i].image}` %>" alt="imagen del producto">
                                <div class="content">
                                    <h3><a href="/products"><%= productsUser[i].name %></a></h3>
                                    <div class="estrellas">
                                        <form class ="escala">
                                            <p class="clasificacion">
                                            <input id="radio1" type="radio" name="estrellas" value="5">
                                            <label for="radio1">★</label>
                                            <input id="radio2" type="radio" name="estrellas" value="4">
                                            <label for="radio2">★</label>
                                            <input id="radio3" type="radio" name="estrellas" value="3">
                                            <label for="radio3">★</label>
                                            <input id="radio4" type="radio" name="estrellas" value="2">
                                            <label for="radio4">★</label>
                                            <input id="radio5" type="radio" name="estrellas" value="1">
                                            <label for="radio5">★</label>
                                            </p>
                                        </form>
                                    </div>
                                    <br>
                                    <% if(productsUser[i].service == 'Asesoría') { %>
                                        <h4>Mentor: <%= productsUser[i].mentor %></h4>
                                        <h4 class="horas">0<%= productsUser[i].duration %> horas</h4> 
                                        <h4><%= productsUser[i].mentor_titulo %></h4>
                                    <% } %>
                                    <% if(productsUser[i].service != 'Asesoría') { %> 
                                        <h4><%= productsUser[i].service %></h4>
                                    <% } %>
                                    <h4><%= productsUser[i].price %>$<i class="fas fa-tag"></i></h4>
                                    <h4 class="unit">Cantidad:<input type="number" name="cantidad" min="1" value="1"></h4>
                                    <form class="" action="/products/productCart/<%= productsUser[i].id %>/<%= userLogged.email %>?_method=DELETE" method="POST">
                                        <button class="btn-area" type="submit"><a href="#"><i class="fa fa-trash"></i><span class="btn2">Eliminar</span></a></button>  
                                    </form>
                                </div>
                            </article>
                        <% } %>                    
                    </div>
                    <div class="right-bar">
                        <p><span>Subtotal</span> <span>USD$</span></p>
                        <hr>
                        <p><span>Tax (%)</span> <span>USD$</span></p>
                        <hr>
                        <p><span>Promoción</span> <span>USD$</span> </p>
                        <hr>
                        <p><input type="text" name="promocion" id="promocion" placeholder="Promoción a aplicar" class="promocion"></p>
                        <hr>
                        <p><span>Total</span> <span>USD$</span></p><a href="/"><i class="fas fa-credit-card"></i>Pagar</a>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="slide-container">
            <h2>También podría interesarte</h2>
            <i class="fas fa-arrow-circle-left"></i>
            <section class="container" id="slider">   
                <% for(let i=0; i< products.length; i++) { %>          
                    <div class="miniatura">
                        <img src="/img/products/<%= `${products[i].image}` %>" alt="Imagen del producto">
                        <div class="product-details">
                            <h3><%= products[i].service %></h3>
                            <h3 class="name-product"><%= products[i].name %></h3>
                            <% if(products[i].service == 'Asesoría') { %>
                                <h3><%= products[i].mentor %></h3>
                                <p>0<%= products[i].duration %> horas</p>
                            <% } %>
                            <form class ="escala">
                                <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5">★</label>
                                </p>
                            </form>
                            <p><span><%= products[i].price %>$</span></p>
                            <a href="/products/detail/<%= products[i].id %>"><i class="fas fa-eye"></i> Ver</a>
                        </div>
                    </div>
                <% } %>
            </section>
            <i class="fas fa-arrow-circle-right"></i>
        </div>
    </main>
    
    <%- include('../partials/footer') %>

</body>
</html>