<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
        <body>
            <%- include('../partials/header') %>
                <main>
                    <div class="contenedor-profile">
                        <h1>Perfil de usuario</h1>
                        <h2>Hola <%= user.firs_name%></h2>
                        <img src="/img/avatars/<%= user.avatar%>" alt="">
                        <h3><%= user.email%></h3>
                    </div>
                </main>
            <%- include('../partials/footer') %>
        </body>
</html>