<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <main>
        <div class="banner-register">
            <div class="background-register"></div>
            <div class="box-img-register">
                <img src="/img/student-laptop.jpg" alt="Student registering">
            </div>
            <div class="box-register">
                <div class="teach-in-iMentor">
                    <a href="/users/mentorregister">¿Quieres enseñar en iMentor?</a>
                </div>
                <h1>!Creá tu cuenta!</h1>
                <p class="community">Te invitamos a formar parte de nuestra comunidad y comenzar hoy a formar tu futuro.</p>
                <form action="/users/register" method="POST" class="register-form" enctype="multipart/form-data">
                    <div class="register-username">
                        <label for="first_name"><i class="fas fa-user"></i>Nombre</label>
                        <input class="boxes" type="text" name="first_name" autofocus placeholder="Nombre" id="first_name"
                            value="<%= locals.old ? old.first_name : null %>">
                        <% if (locals.errors && errors.first_name) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.first_name.msg %></p>
                        </div>
                        <% } %>
                        <div class="text-danger">
                            <p class="first_name-error"></p>
                        </div>
                    </div>
                    <div class="register-username">
                        <label for="last_name"><i class="fas fa-user"></i>Apellido</label>
                        <input class="boxes" type="text" name="last_name" placeholder="Apellido" id="last_name"
                            value="<%= locals.old ? old.last_name : null %>">
                        <% if (locals.errors && errors.last_name) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.last_name.msg %></p>
                        </div>
                        <% } %>
                        <div class="text-danger">
                            <p class="last_name-error"></p>
                        </div>
                    </div>
                    <div class="register-username">
                        <label for="user_name"><i class="fas fa-user-circle"></i>Nombre de usuario</label>
                        <input class="boxes" type="text" name="user_name" placeholder="Nombre de usuario" id="user_name"
                            value="<%= locals.old ? old.user_name : null %>">
                        <% if (locals.errors && errors.user_name) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.user_name.msg %></p>
                        </div>
                        <% } %>
                        <div class="text-danger">
                            <p class="user_name-error"></p>
                        </div>
                    </div>
                    <div class="register-email">
                        <label for="email"><i class="fas fa-envelope"></i>E-mail</label>
                        <input class="boxes" type="email" name="email" placeholder="tuemail@ejemplo.com" id="email"
                            value="<%= locals.old ? old.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.email.msg %></p>
                        </div>
                        <% } %>
                        <div class="text-danger">
                            <p class="email-error"></p>
                        </div>
                    </div>
                    <div class="register-birth">
                        <label for="date_birth"><i class="fas fa-calendar-alt"></i>Fecha de nacimiento</label>
                        <input class="boxes" type="date" name="date_birth" id="date_birth"
                            value="<%= locals.old ? old.date_birth : null %>">
                        <% if (locals.errors && errors.date_birth) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.date_birth.msg %></p>
                        </div>
                        <% } %>
                        <div class="text-danger">
                            <p class="date_birth-error"></p>
                        </div>
                    </div>
                    <div class="register-age" id="register-age">
                        <label for="age"><i class="fas fa-universal-access"></i>Edad</label>
                        <input class="boxes" type="text" name="age" id="age" placeholder="Edad" min="0"
                            value="<%= locals.old ? old.age : null %>">
                        <% if (locals.errors && errors.age) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.age.msg %></p>
                        </div>
                        <% } %>
                    </div>
                    <div class="register-username">
                        <label><i class="fas fa-universal-access"></i>Género</label>
                        <select class="boxes" name="genero" id="genero" value="<%= locals.old ? old.genero : null %>">
                            <option value="">Seleccione género</option>
                            <% 
                             let generos = ['Femenino','Masculino','Binario'];
                            %>
                            <% for (const oneGenero of generos) { %>
                            <option value="<%= oneGenero %>"
                                <%= locals.old && (oneGenero == old.genero) ? 'selected' : null  %>><%= oneGenero %>
                            </option>
                            <% } %>
                        </select>
                        <% if (locals.errors && errors.genero) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.genero.msg %></p>
                        </div>
                        <% } %>
                        <div class="text-danger">
                            <p class="genre-error"></p>
                        </div>
                    </div>
                    <div class="register-username">
                        <label for="country"><i class="fas fa-flag"></i>País</label>
                        <select class="boxes" name="country" id="country"
                            value="<%= locals.old ? old.country : null %>">
                            <option value="">Seleccione país</option>
                        </select>
                        <% if (locals.errors && errors.country) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.country.msg %></p>
                        </div>
                        <% } %>
                        <div class="text-danger">
                            <p class="country-error"></p>
                        </div>
                    </div>
                    <div class="register-password">
                        <label for="password"><i class="fas fa-lock"></i>Contraseña</label>
                        <div class="box-showpassword">
                            <input class="boxes" type="password" name="password" value="" id="password"
                                placeholder="Contraseña">
                            <div class="text-danger">
                                <p class="password-length"></p>
                            </div>
                            <div class="show-password"><br>
                                <input type="checkbox" name="show-password" onclick="myFunction()">Mostrar Contraseña
                                <script>
                                    function myFunction() {
                                        var x = document.getElementById("password");
                                        if (x.type === "password") {
                                            x.type = "text";
                                        } else {
                                            x.type = "password";
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                        <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.password.msg %></p>
                        </div>
                        <% } %>
                    </div>
                    <div class="register-username">
                        <label><i class="fas fa-clipboard-list"></i>Rol</label>
                        <select class="boxes" name="category" id="category" value="<%= locals.old ? old.category : null %>">
                            <option value="">seleccione rol</option>
                            <% if(locals.isLogged && locals.userLogged.role_id == 2) { %>  
                                <% let roles = [{role_id: 1, role_name:'Usuario'},{role_id: 2, role_name:'Administrador'}];%>                             
                                <% for (const oneRol of roles) { %>
                                    <option value="<%= oneRol.role_id %>"
                                        <%= locals.old && (oneRol.role_id == old.category) ? 'selected' : null  %>>
                                        <%= oneRol.role_name %></option>
                                <% } %>
                            <% } else { %>
                                <% let roles = [{role_id: 1, role_name:'Usuario'}];%>
                                <% for (const oneRol of roles) { %>
                                    <option value="<%= oneRol.role_id %>"
                                        <%= locals.old && (oneRol.role_id == old.category) ? 'selected' : null  %>>
                                        <%= oneRol.role_name %></option>
                                <% } %>
                            <% } %>
                        </select>
                        <% if (locals.errors && errors.category) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.category.msg %></p>
                        </div>
                        <% } %>
                    </div>
                    <div class="register-username">
                        <label for="title"><i class="fas fa-user-tie"></i>Título</label>
                        <input class="boxes" type="text" name="title" placeholder="Título" id="title"
                            value="<%= locals.old ? old.title : null %>">
                        <% if (locals.errors && errors.title) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.title.msg %></p>
                        </div>
                        <% } %>
                        <div class="text-danger">
                            <p class="title-error"></p>
                        </div>
                    </div>
                    <div class="register-username">
                        <label><i class="fas fa-image"></i>Subir imagen de usuario</label>
                        <input class="boxes" type="file" name="avatar" id="avatar" accept=".jpg,.jpeg,.png,.gif" multiple>
                        <% if (locals.errors && errors.avatar) { %>
                        <div class="text-danger">
                            <p class="feedback"><%= errors.avatar.msg %></p>
                        </div>
                        <% } %>
                        <div class="text-danger">
                            <p class="avatar-error"></p>
                        </div>
                    </div>
                    <div>
                        <button class="register-button" type="submit"><i class="fas fa-plus-circle"></i>
                            Registrar</button>
                        <button class="register-button" type="reset"><i class="fas fa-eraser"></i>Borrar</button>
                    </div>
                </form>
                <div class="already-register">
                    <a href="/users/login">¿Ya tienes una cuenta?</a>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
    <script src="/js/register.js"></script>
    <script src="/js/register-validations-front.js"></script>
</body>

</html>