<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-header">
                <div class="perfil-usuario-portada">
                    <h1>Perfil de Usuario</h1>
                    <div class="perfil-usuario-avatar">
                        <img src="/img/avatars/<%= user.avatar %>" alt="imagen de usuario">
                    </div>
                </div>
            </div>
            <div class="perfil-usuario-body">
                <div class="perfil-usuario-bio">
                    <h3 class="titulo"><%= user.first_name %> <%= user.last_name%></h3>
                    <p class="texto">Hola , ¡Bienvenido a i_MENTOR!. Es para nosotros un placer que te hayas unido a esta comunidad sin igual.</p>
                </div>
                <div class="perfil-usuario-footer">
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-map-signs"></i>E-mail: <%= user.email%></li>
                    </ul>
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-user-check"></i>Nombre de usuario: <%= user.user_name%></li>
                    </ul>
                </div>
                <div class="opciones">
                    <a href="" class="boton-opciones editar"><i class="fas fa-pen"></i></a>
                    <a href="/products/productCart" class="boton-opciones cesta-compras"><i class="fas fa-shopping-basket"></i></a>
                    <a href="/paginaEnConstruccion" class="boton-opciones plataforma"><i class="fas fa-hand-pointer"></i></a>
                </div>
                <form action="/users/edit/<%= user.user_id %>?_method=PUT" method="POST" class="register-form" enctype="multipart/form-data">
                    <div class="registerbox">
                        <label for="first_name"><i class="fas fa-user"></i> Nombre</label>
                        <% if (!locals.old) { %>
                        <input class="boxes" type="text" name="first_name" placeholder="Nombre" id="first_name" value="<%= user.first_name%>">
                        <% } else { %>
                        <input class="boxes" type="text" name="first_name" placeholder="Nombre" id="first_name" value="<%= locals.old ? old.first_name : null %>">
                        <% } %>
                        <% if (locals.errors && errors.first_name) { %>
                            <div class="text-danger">
                                <p class="feedback"><%= errors.first_name.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    <div class="registerbox">
                        <label for="last_name"><i class="fas fa-user"></i> Apellido</label>
                        <% if (!locals.old) { %>
                        <input class="boxes" type="text" name="last_name" placeholder="Apellido" id="last_name" value="<%= user.last_name%>">
                        <% } else { %>
                        <input class="boxes" type="text" name="last_name" placeholder="Apellido" id="last_name" value="<%= locals.old ? old.last_name : null %>">
                        <% } %>
                        <% if (locals.errors && errors.last_name) { %>
                            <div class="text-danger">
                                <p class="feedback"><%= errors.last_name.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    <div class="registerbox">
                        <label for="date_birth"><i class="fas fa-calendar-alt"></i> Fecha de nacimiento</label>
                        <% if (!locals.old) { %>
                        <input class="boxes" type="date" name="date_birth" id="date_birth" value="<%= user.birthday%>">
                        <% } else { %>
                        <input class="boxes" type="date" name="date_birth" id="date_birth" value="<%= locals.old ? old.date_birth : null %>">
                        <% } %>
                        <% if (locals.errors && errors.date_birth) { %>
                            <div class="text-danger">
                                <p class="feedback"><%= errors.date_birth.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    <div class="registerbox">
                        <label for="age"><i class="fas fa-universal-access"></i> Edad</label>
                        <% if (!locals.old) { %>
                        <input class="boxes" type="number" name="age" id="age" placeholder="Edad" min="0" value="<%= user.age%>">
                        <% } else { %>
                        <input class="boxes" type="number" name="age" id="age" placeholder="Edad" min="0" value="<%= locals.old ? old.age : null %>">
                        <% } %>
                        <% if (locals.errors && errors.age) { %>
                            <div class="text-danger">
                                <p class="feedback"><%= errors.age.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    <div class="registerbox">
                        <label><i class="fas fa-universal-access"></i> Género</label>
                        <% if (!locals.old) { %>
                        <select class="boxes" name="genero" id="genero" value="<%= user.genre %>">
                            <option value="">seleccione género</option>
                            <% 
                             let generos = ['Femenino','Masculino','Binario'];
                            %> 
                            <% for (const oneGenero of generos) { %>
                                <option value="<%= oneGenero %>" <%= oneGenero == user.genre ? 'selected' : null  %> ><%= oneGenero %></option>
                            <% } %>
                        <% } else { %>
                        <select class="boxes" name="genero" id="genero" value="<%= locals.old ? old.genero : null %>">
                            <option value="">seleccione género</option>
                            <% 
                             let generos = ['Femenino','Masculino','Binario'];
                            %> 
                            <% for (const oneGenero of generos) { %>
                                <option value="<%= oneGenero %>" <%= locals.old && (oneGenero == old.genero) ? 'selected' : null  %> ><%= oneGenero %></option>
                            <% } %>
                        <% } %>
                        </select>
                        <% if (locals.errors && errors.genero) { %>
                            <div class="text-danger">
                                <p class="feedback"><%= errors.genero.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    <div class="registerbox">
                        <label for="country"><i class="fas fa-flag"></i> País</label>
                        <% if (!locals.old) { %>
                        <input class="boxes" type="text" name="country" placeholder="País" id="country" value="<%= user.country %>">
                        <% } else { %>
                        <input class="boxes" type="text" name="country" placeholder="País" id="country" value="<%= locals.old ? old.country : null %>">
                        <% } %>
                        <% if (locals.errors && errors.country) { %>
                            <div class="text-danger">
                                <p class="feedback"><%= errors.country.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    <div class="registerbox">
                        <label for="title"><i class="fas fa-user-tie"></i> Título</label>
                        <% if (!locals.old) { %>
                        <input class="boxes" type="text" name="title" placeholder="Titulo" id="title" value="<%= user.title %>">
                        <% } else { %>
                        <input class="boxes" type="text" name="title" placeholder="Titulo" id="title" value="<%= locals.old ? old.title : null %>">
                        <% } %>
                        <% if (locals.errors && errors.title) { %>
                            <div class= "text-danger">
                                <p class="feedback"><%= errors.title.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    <div class="imagen-muestra">
                        <% if(locals.isLogged && locals.userLogged.role_id == 3) { %>
                            <label><i class="fas fa-image"></i> Imagen del mentor:</label>
                        <% } else { %>
                            <label><i class="fas fa-image"></i> Imagen del usuario:</label>
                        <% } %>
                        <br>
                        <img src="/img/avatars/<%= user.avatar%>" alt="Imagen del usuario">
                    </div>  
                    <div class="registerbox">
                        <% if(locals.isLogged && locals.userLogged.role_id == 3) { %>
                            <label><i class="fas fa-image"></i> Subir otra imagen de mentor</label>
                        <% } else { %>
                            <label><i class="fas fa-image"></i> Subir otra imagen de usuario</label>
                        <% } %>
                        <input class="boxes" type="file" name="avatar" id="avatar" accept=".jpg,.png,.gif" multiple>
                    </div>  
                    <div class="botones">
                        <button class="register-button" type="submit"><i class="fas fa-exclamation-triangle"></i> Modificar</button>
                        <button class="register-button" type="reset"><i class="fas fa-eraser"></i> Borrar</button>   
                    </div>
                </form>
                <% if(locals.isLogged && locals.userLogged.role_id == 3) { %>
                    <a class="boton-mentor" href="/users/editMentor/<%= user.mentor_id %>/<%= user.email %>"><i class="fas fa-edit"></i> Modificar reseña y datos de facturación</a>
                <% } %>
                <div class="boton-rojo">
                    <a href="/users/profile">Cancelar</a>
                </div>
            </div>
        </section>  
    </main>
    <%- include('../partials/footer') %>
</body>
</html>